html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.color-picker-container {
    margin: 0 auto;
    /* border: 1px solid #D1D5DB; */
}

/*------------header---------*/

form {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    "input input input input"
                            "select select select select"
                            "button button button button"
                            "hex-value hex-value hex-value hex-value";
    align-items: center;
    justify-items: center;
    margin: 2rem .5rem;


}

input, select, button {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    margin-bottom: 1.4rem;
}

input {
    height: 100px;
    grid-area: input;
}

input:hover, select:hover, button:hover {
    border: 1px solid black;
    cursor: pointer;
}

#hex-value {
    font-size: 1.3rem;
    margin: 0;
    grid-area: hex-value;
}

select {
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    grid-area: select;
}

#mode-btn {
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    grid-area: button;
}

#mode-btn:hover {
    background-color: #D1D5DB;
}

#mode-btn:active {
    position: relative;
    top: 1px;
    bottom: 1px;
}



/* ---------------main--------------- */

main {
    display: flex;
    flex-direction: column;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.color {
    width: 100%;
    height: 100px;
}

.color-name {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

/*------------ media queries---------- */

@media (min-width: 481px) and (max-width: 1024px)  {

    body {
        background-color: #f6f9ff;
    }

    form {
        box-sizing: border-box;
        grid-template-areas:    "input input input input"
                                "select select button button"
                                "hex-value hex-value hex-value hex-value"
                                ". . . .";
        margin: 2rem .5rem;
        justify-items: center;
        gap: 10px;
    }

    input, select, button {
        border-radius: 5px;
        border: 1px solid #D1D5DB;
        margin-bottom: 1.4rem;
        width: 90%;
        margin-left: 100px;
        margin-right: 100px;
    }

    select, button {
        height: 50px;
    }
}


@media (min-width: 1025px) {

    main {
        display: flex;
        flex-direction: row;
    }

    form {
        grid-template-areas:    "input select button hex-value"
                                ". . . ."
                                ". . . ."
                                ". . . .";
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    input, select, button, p {
        width: 250px;
        height: 50px;
    }
    .color {
        height: 800px;
    }

    .color-picker-container {
        max-width: 1500px;
        border: 1px solid #D1D5DB;
    }

    .color-name {
        text-align: center;
    }
}

