html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.color-picker-container {
    margin: 0 auto;
    /* border: 1px solid #D1D5DB; */
}

/*------------header---------*/

header {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
}
h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0 10px 10px;
    text-align: left;
}
h3:first-of-type {
    margin-top: 30px;
}

#copy-OG-btn {
    font-size: 1rem;
    height: 1.5rem;
}
form {
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:    "input input input input"
                            "hex-value hex-value hex-value hex-value"
                            "step2 step2 step2 step2"
                            "select select select select"
                            "button button button button"; */

    align-items: center;
    justify-items: center;
    margin: .5rem .5rem 2rem .5rem;
}

input, select, button {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #D1D5DB;

}

.step1-container, .step2-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    height: 100px;
    margin: 0 auto .5rem auto;
    align-self: center;
    
}


input:hover, select:hover, button:hover {
    border: 1px solid black;
    cursor: pointer;
}

#hex-value {
    font-size: 1rem;
    margin: 0;
    align-self: center;
}

select {
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 1.4rem;
}

#mode-btn {
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 900;
    border: 2px solid black;
    margin: 30px auto 1.4rem auto;
    align-self: center;
    display: block;
}

#mode-btn:hover {
    background-color: #D1D5DB;
}

#mode-btn:active {
    position: relative;
    top: 1px;
    bottom: 1px;
}

.hidden {
    visibility: hidden;
}

/* ---------------main--------------- */

main {
    display: flex;
    flex-direction: column;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.color {
    width: 100%;
    height: 100px;
}

.color-name {
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

i {
    font-weight: 200;
    z-index: -1;
}

.copy-btn {
    border: none;
    background-color: transparent;
    width: 30px;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

}


/*------------ media queries---------- */

@media (min-width: 481px) and (max-width: 1024px)  {

    h1 {
        margin-bottom: 0;
    }

    h3 {
        margin-left: 30px;
    }
    form {
        /* box-sizing: border-box;
        grid-template-areas:    "input input input input"
                                "select select button button"
                                "hex-value hex-value hex-value hex-value"
                                ". . . ."; */
        margin: 2rem .5rem;
        justify-items: center;
        gap: 10px;
    }



    input, select, button {
        border-radius: 5px;
        border: 1px solid #D1D5DB;
        margin-bottom: 1.4rem;
        width: 90%;
        margin-left: 100px;
        margin-right: 100px;
    }

    select, button {
        height: 50px;
    }
}


@media (min-width: 1025px) {

    main {
        display: flex;
        flex-direction: row;
    }

    form {
        grid-template-areas:    "input select button hex-value"
                                ". . . ."
                                ". . . ."
                                ". . . .";
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    input, select, button, p {
        width: 250px;
        height: 50px;
    }
    .color {
        height: 650px;
    }

    .color-picker-container {
        max-width: 1500px;
        margin-top: 50px;
        border: 1px solid #D1D5DB;
    }

    .color-name {
        text-align: center;
    }
}

